<div id="home">
	 <div class="home_content">
		   <div class="home_nav">
		   	     <ul>
				   	<li class="li">
				   		<a href="javaScript:;">精品推荐</a>
				   	</li>
				   	<li>
				   		<a href="gonglv.html">收藏攻略</a>
				   	</li>
			     </ul>  
		   </div>  
		   <div class="count">
		   	     <ul>
			   	      <li>
			   	      	<a href="javaSctipt:;">
			   	      		<img src="img/ciwa.png"/>
			   	      	</a>
			   	      	<p style="padding:.4rem 0 0 .3rem;">景德镇青色陶器碗具</p>
			   	      	<div class="ci_1">
			   	      		<div class="ci_1_1">
				   	      		<p style="color: red;">
				   	      			<span class="glyphicon glyphicon-yen"></span>
				   	      			<span>1238</span>
				   	      		</p>
				   	      		<p>
				   	      		  <span ng-click="ua=ua+1" id="t" class="glyphicon glyphicon-heart-empty"></span>
				   	      		  <i>{{ua}}</i>
				   	      		</p>
				   	      	</div>	
			   	      	</div>
			   	      </li>
			   	      <li>
			   	      	<a href="javaSctipt:;">
			   	      		<img src="img/cizhen.png"/>
			   	      	</a>
			   	      	<p style="padding:.4rem 0 0 .3rem;">复古手工陶具收藏</p>
			   	      	<div class="ci_1">
			   	      		<div class="ci_1_1">
				   	      		<p style="color: red;">
				   	      			<span class="glyphicon glyphicon-yen"></span>
				   	      			<span>1286</span>
				   	      		</p>
				   	      		<p>
				   	      		  <span ng-click="u=u+1" id="t" class="glyphicon glyphicon-heart-empty"></span>
				   	      		  <i>{{u}}</i>
				   	      		</p>
				   	      	</div>	
			   	      	</div>
			   	      </li>
			   	      <li>
			   	      	<a href="javaSctipt:;">
			   	      		<img src="img/cibei.png"/>
			   	      	</a>
			   	      	<p style="padding:.4rem 0 0 .3rem;">景德镇青色陶器碗具</p>
			   	      	<div class="ci_1">
			   	      		<div class="ci_1_1">
				   	      		<p style="color: red;">
				   	      			<span class="glyphicon glyphicon-yen"></span>
				   	      			<span>1238</span>
				   	      		</p>
				   	      		<p>
				   	      		  <span ng-click="us=us+1" id="t" class="glyphicon glyphicon-heart-empty"></span>
				   	      		  <i>{{us}}</i>
				   	      		</p>
				   	      	</div>	
			   	      	</div>
			   	      </li>
			   	      <li>
			   	      	<a href="javaSctipt:;">
			   	      		<img src="img/ciwa.png"/>
			   	      	</a>
			   	      	<p style="padding:.4rem 0 0 .3rem;">复古手工陶具收藏</p>
			   	      	<div class="ci_1">
			   	      		<div class="ci_1_1">
				   	      		<p style="color: red;">
				   	      			<span class="glyphicon glyphicon-yen"></span>
				   	      			<span>1238</span>
				   	      		</p>
				   	      		<p>
				   	      		  <span ng-click="uc=uc+1" id="t" class="glyphicon glyphicon-heart-empty"></span>
				   	      		  <i>{{uc}}</i>
				   	      		</p>
				   	      	</div>	
			   	      	</div>
			   	      </li>
			   	      <li>
			   	      	<a href="javaSctipt:;">
			   	      		<img src="img/cizhen.png"/>
			   	      	</a>
			   	      	<p style="padding:.4rem 0 0 .3rem;">黄花梨精品鬼脸纹枕头</p>
			   	      	<div class="ci_1">
			   	      		<div class="ci_1_1">
				   	      		<p style="color: red;">
				   	      			<span class="glyphicon glyphicon-yen"></span>
				   	      			<span>1238</span>
				   	      		</p>
				   	      		<p>
				   	      		  <span ng-click="ub=ub+1" id="t" class="glyphicon glyphicon-heart-empty"></span>
				   	      		  <i>{{ub}}</i>
				   	      		</p>
				   	      	</div>	
			   	      	</div>
			   	      </li>
			   	      <li>
			   	      	<a href="javaSctipt:;">
			   	      		<img src="img/cibei.png"/>
			   	      	</a>
			   	      	<p style="padding:.4rem 0 0 .3rem;">景德镇青色陶器碗具</p>
			   	      	<div class="ci_1">
			   	      		<div class="ci_1_1">
				   	      		<p style="color: red;">
				   	      			<span class="glyphicon glyphicon-yen"></span>
				   	      			<span>1238</span>
				   	      		</p>
				   	      		<p>
				   	      		  <span ng-click="ua=ua+1" id="t" class="glyphicon glyphicon-heart-empty"></span>
				   	      		  <i>{{ua}}</i>
				   	      		</p>
				   	      	</div>	
			   	      	</div>
			   	      </li>
		   	     </ul>
		   </div>
	 </div>
</div>
			       

	
