*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-style: normal;
}
.content{
    width: 18rem;height:31.5rem ;
    position: relative;
    header{
        width: 18rem;height:1.25rem;
        img{
            width: 100%;height: 100%;
        }
    }
    footer{
        position: absolute;
        border-top:solid 1px #eee ;
        bottom:0;
        width: 18rem;
        height: 2.6rem;
        background: #fff;
        
        ul{
            width: 18rem;
            display: flex;
            -webkit-justify-content: space-between;
            li{
                width: calc(100%/3);
                text-align: center;
                line-height: 1rem;
                padding-top: .5rem;
                a{
                   text-decoration: none;
                    color: gray;
                    span:nth-child(1){
                    font-size: 1rem;
                  }
                }
               
            }
            .lis a{
                color: red;
            }
        }
    }
    #home{
        width: 18rem;
        height: 28.4rem;
        .home_content{
             width: 18rem;
            .home_nav{
             ul{
                display: flex;
                width: 100%;height: 2.7rem;
                -webkit-justify-content: space-around;
                li{
                    line-height:3rem;
                    a{
                        color: gray;
                        font-size:.8rem ;
                        text-decoration: none;
                    }
                }
                .li{
                    line-height: 2rem;
                     border-bottom: solid red 3px;
                    a{
                        color: #000000;
                    }
                }
            }
          }
          .count{
                position: absolute;
                top:4rem;
                bottom: 2.35rem;
                overflow: hidden;
                padding: 0 0.5rem;
                background-color: #EEEEEE;
               ul{
                    width: 100%;
                    display: flex;
                    -webkit-justify-content: space-between;
                    flex-wrap: wrap;
                    li{
                        width: 8.25rem;
                        height:10rem;
                        background-color:#fff ;
                        margin-top: 0.5rem;
                        .ci_1{
                            
                            padding: 0 0.3rem;
                            
                            .ci_1_1{
                                display: flex;
                                margin-top:.8rem;
                                justify-content: space-between;
                            }
                        }
                       a{
                           img{
                            width: 100%;
                            height: 65%;
                        }
                       } 
                    }
               }
          }
        }
    }
}
